#crypto-modal {
    position: absolute;
    left: 71%;
}  

.modalHeader > svg {
    margin-right: 8px;
}
.modalHeader >  h3 {
    margin-bottom: 0 !important;
}
.modalContent {
    /* height: 650px; */
    overflow-y: scroll;
}
.listIcon {
    background-image: url('../../resources/images/sixdotsblue.png');
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
/*toggle switch styl for customize widgets */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
} 
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}