<div class="w-full h-screen flex justify-center items-center overflow-y-auto">
    <div class="p-4 h-full py-6 flex flex-col w-[100%] lg:w-[68%] justify-between">
        <div class="flex flex-col gap-[6px] justify-center items-center mt-[6%] mb-[18px]">
            <h1>Let's Get Started!</h1>
            <h3>
                Let's walk you through the essentials to help you get started.
            </h3>
        </div>

        <div class="flex flex-col justify-center items-center mb-[10%] gap-[32px] sm:mx-[16px]">
            <!-- role section -->
            <div class="w-full ms-[-8px] md:ms-0" >
                <div class="flex flex-col gap-[32px] w-full">
                    <div class="flex">
                        <div class="mt-[-4px] w-[38px] h-[37px] scale-[0.7] bg-[url('./app/resources/icons/white-book-icon.svg')]"></div>
                        <p class="bg-white flex py-[10px] px-[12px] w-[100%] border border-[#D5D7DA] text-sm rounded-tl-none rounded-tr-lg rounded-br-lg rounded-bl-lg sm:pe-[40px]">
                        Would you mind selecting your &nbsp;<strong>role</strong>?</p>
                    </div>
                    <!-- role list section -->
                    <div class="flex justify-center lg:justify-end">
                        <div class="grid grid-cols-2 md:grid-cols-3 gap-[20px] sm:justify-end w-[100%] lg:w-[60%]">
                            <label class="cursor-pointer bg-white flex flex-col py-[16px] px-[12px] border border-[#D5D7DA] rounded-[12px] text-sm relative" *ngFor="let item of roleList" (click)="goToPoductsSection(item)" 
                            [ngClass]="selectedRoleList === item.name ? 'gradient-border' : ''">
                                <div class="flex on-boarding">
                                    <div class="w-[48px] h-[48px] bg-[#F4EBFF] rounded-full flex items-center justify-center  text-primary">
                                        <span  class=" w-5 h-5 material-icons">{{item.icon}}</span>
                                    </div>
                                    <input 
                                        type="radio" 
                                        name="roleList" 
                                        [value]="item.name" 
                                        class="absolute top-[15px] right-[15px]" 
                                        (change)="onRoleSelected(item)" 
                                        [(ngModel)]="selectedRoleList"/>
                                </div>
                                <div>
                                    <p class="text-base font-semibold text-title-color mt-[12px] mb-[6px]">{{item.name}}</p>
                                    <p class="text-sm font-medium text-description-color">{{item.description
                                    }}</p>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
             <!-- products section -->
            <div class="w-full ms-[-8px] md:ms-0" [ngClass]="!hiddenProductsSection? 'block' : ' hidden'">
                <div class="flex flex-col gap-[32px] w-full">
                    <div class="flex">
                        <div class="mt-[-4px] w-[38px] h-[37px] scale-[0.7] bg-[url('./app/resources/icons/white-book-icon.svg')]"></div>
                        <p class="bg-white flex py-[10px] px-[12px] w-[100%] border border-[#D5D7DA] text-sm rounded-tl-none rounded-tr-lg rounded-br-lg rounded-bl-lg sm:pe-[40px]">Next, let’s set up your workspace. Select the &nbsp;<strong>products</strong> &nbsp; you are actively working on.</p>
                    </div>
                    <!-- products list section -->
                    <div class="flex justify-center md:justify-end">
                        <div class="grid grid-cols-2 gap-[20px] md:justify-items-end w-[100%] md:w-[70%] lg:w-[40%]">
                            <label class="cursor-pointer bg-white flex flex-col py-[16px] px-[12px]  border border-[#D5D7DA] rounded-[12px] text-sm text-sm relative on-boarding" (click)="goToPersonalizeDashboardSection()"
                            [ngClass]="selectedProduct === item.name ? 'gradient-border' : ''"
                            *ngFor="let item of productsList">
                                <input
                                    type="radio" 
                                    name="products"
                                    [value]="item.name"
                                    class="absolute top-[15px] right-[15px]"
                                    [(ngModel)]="selectedProduct"
                                    (change)="onProductSelected()"
                                    />
                                <div>
                                    <p class="text-base font-semibold text-title-color mt-[12px] mb-[6px]">{{item.name}}</p>
                                    <p class="text-sm font-medium text-description-color">{{item.description}}</p>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- personalize your dashboard section -->
            <div class="w-full ms-[-8px] md:ms-0" [ngClass]="!hiddenPersonalizeDashboardSection? 'block' : 'hidden'">
                <div class="flex flex-col gap-[32px] w-full">
                    <div class="flex">
                        <div class="mt-[-4px] w-[38px] h-[37px] scale-[0.7] bg-[url('./app/resources/icons/white-book-icon.svg')]"></div>
                        <p class="bg-white flex py-[10px] px-[12px] w-[100%] border border-[#D5D7DA] text-sm rounded-tl-none rounded-tr-lg rounded-br-lg rounded-bl-lg sm:pe-[40px]">
                            Set up your dashboard by selecting the content most applicable to your work. These Widget preferences can be modified later in the dashboard as needed.
                        </p>
                    </div>
                    <!-- widget list -->
                    <div class="flex justify-center lg:justify-end">
                        <div class="gap-[8px] grid grid-cols-1 md:grid-cols-2">
                            <label class="cursor-pointer bg-white flex justify-center items-center py-[12px] px-[12px]  border border-[#D5D7DA] rounded-[12px] gap-[16px] relative on-boarding" *ngFor="let data of widgetsList"
                            [ngClass]="selectedPersonalize.includes(data.name) ? 'gradient-border' : ''">
                                <div class="flex">
                                    <span class="w-[48px] h-[48px] bg-[url('./app/resources/icons/blue-lightning-bolts.svg')]"></span>
                                </div>
                                <div class="py-2">
                                    <p class="text-base font-semibold text-title-color mt-[12px] mb-[6px] break-words whitespace-normal w-[260px] md:w-[250px] lg:w-[300px]">{{data.name}}</p>
                                    <p class="text-sm font-medium text-description-color break-words whitespace-normal w-[260px] md:w-[250px] lg:w-[300px]">{{data.description}}</p>
                                </div>
                                <input
                                    type="checkbox"
                                    name="personalize"
                                    [value]="data.name"
                                    class="absolute top-[12px] right-[15px]"
                                    [checked]="selectedPersonalize.includes(data.name)"
                                    (change)="togglePersonalize(data.name)"
                                    (change)="personalizeDashboardAnswered()"
                                />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Exit and next button -->
            <div class="flex justify-between w-full mb-[10%] mt-8">
                <button (click)="goToWelcomePage()" class="bg-white flex justify-center items-center py-[8px] px-[24px]  border border-[#D5D7DA] rounded-[8px] text-sm">
                    Exit
                </button>
                <div class="flex gap-[24px]" [ngClass]="!hiddenPersonalizeDashboardSection? 'block' : 'hidden'">
                    <button (click)="skipOnboarding()" class="text-primary font-bold text-sm" [ngClass]="isPersonalizeDashboardNextButtonActive? 'disabled' : 'hover:text-primary-cta-hover'">Skip</button>
                    <button (click)="goToDashboard()" class="cursor-pointer bg-white flex justify-center items-center py-[8px] px-[32px]  border border-[#D5D7DA] rounded-[8px] text-sm" [ngClass]="{
                        'disabled-button': !isPersonalizeDashboardNextButtonActive,
                        'active-button': isPersonalizeDashboardNextButtonActive
                      }"
                      >
                        Next
                    </button> 
                </div>
            </div>
        </div>
    </div>
</div>