/* You can add global styles to this file, and also import other style files */

/* google fonts family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* google Material icons */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

@import "tailwindcss";

@theme {

  /* font family */
  --font-display: "Satoshi", "sans-serif";
  --font-Inter: "Inter", "sans-serif";

  /* color palette */
  --color-primary: #2726DD;
  --color-secondary: #FF6632;

  --color-title-color: #101828;
  --color-subtitle-color: #30425C;
  --color-description-color: #727272;  /* card description */

  --color-primary-text-color: #2C2D2E;
  --color-secondary-text-color: #919399;
  --color-tertiary-text-color: #333740;

  --color-caption-color: #333740;
  --color-dropdown-text-color: #333740;
  --color-search-text-color: #666f8d;

  
  --color-warning: #FFB240;
  --color-failure: #C33025;

  /* cta */
  --color-primary-cta-hover: #14136F;
  --color-primary-cta-disabled: #D0D1D4;

  /* typography scale */
  --text-smalltext: 8px;
 
  /* break point */
  --breakpoint-3xl: 120rem;
}

html, body{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position:fixed;
    
    background: url("./app/resources/images/aci-bg-image.svg");
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    font-family: var(--font-Inter);
}
*{
    outline: none;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-title-color); 
}
h2 {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-title-color);
}
h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-subtitle-color);
}
h4 {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-subtitle-color);
}
h5 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-description-color);
}
h6 {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-primary-text-Color);
}

/* dashboard model */
.dashboard-model{
  left: calc(50% - 400px/2);
  top: calc(50% - 420px/2);
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}
.document-model{
  left: calc(50% - 400px/2);
  top: calc(50% - 420px/2);
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}

/* chat section */
.chat-answer ol {
  list-style: decimal !important;
  padding-left: 1.5rem;
}
.chat-answer ul {
  list-style: disc !important;
  padding-left: 1.5rem;
}
.chat-answer li {
  margin-bottom: 0.5rem;
}
.chat-answer :is(h2, h3) {
  margin-bottom: 0.5rem;

  font-size: unset;
  font-weight: unset;
  color: unset;
}
.follow-up li::marker {
  color: var(--color-primary)
}
.modalProductLatest > div {
  padding-inline: 12px !important;
}
.modalProductLatest > div > div > p{
  font-size: 9px !important;
}
.modalProductLatest > div > div > ul > li{
  font-size: 9px !important;
}
.modalProductLatest > div > div:nth-child(2) {
  gap: 8px !important;
}
.modalProductLatest > div > div:nth-child(2) > a > p{
  font-size: 9px !important;
}
.modalProductLatest > div > div > div > p {
  font-size: 9px !important;
}
.modalReleaseLatest > div {
  padding-inline: 12px !important;
}
.modalReleaseLatest > div > div > p{
  font-size: 9px !important;
}
.modalReleaseLatest > div > div > ul > li{
  font-size: 9px !important;
}
.modalReleaseLatest > div > div:nth-child(2) {
  gap: 8px !important;
}
.modalReleaseLatest > div > div:nth-child(2) > a > p{
  font-size: 9px !important;
}
.modalReleaseLatest > div > div > div > p {
  font-size: 9px !important;
}
.modalReleaseHistoryListData > div > ul > li > div{
  font-size: 9px !important;
}
.modalReleaseHistoryListData > div > ul > li {
  padding-inline-start: 5px !important;
  gap: 2px !important;
}
.modalReleaseHistoryListData > div > ul > li > div > span{
  font-size: 9px !important;
  padding: 2px !important;
}
.modalReleaseHistoryListData > div > ul > li > div:nth-child(5) > span{
  height: 20px !important;
  width: 20px !important;
}
.modalReleaseHistoryListData > div > div {
  font-size: 9px !important;
}
input:checked + .slider {
  background-color: #282BDD;
}

input:checked + .slider:before {
  transform: translateX(22px);
  -webkit-transform: translateX(22px);
  -moz-transform: translateX(22px);
  -ms-transform: translateX(22px);
  -o-transform: translateX(22px);
}
.gradient-border {
  border: 1px solid transparent;
  border-radius: 12px;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-image:
    linear-gradient(white, white), 
    linear-gradient(0deg, #282BDD, #28D3DA);
}
.gradient-border-button:hover {
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-image:
    linear-gradient(white, white), 
    linear-gradient(0deg, #282BDD, #28D3DA);
}

.slider {
  position: absolute;
  background-color: #ccc;
  border-radius: 24px;
  transition: 0.4s;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* custom-highlight for chat search*/
.custom-highlight {
  color: #000; 
  font-weight: 600; 
}






